<!DOCTYPE html>

<html>
	<head>
		<title>PBPK Model</title>
        <meta charset="utf-8" />

        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="/static/js/flat-ui.min.js"></script>
        <script src="/static/js/jquery-1.11.0.min.js"></script>
        <script src="/static/js/lightbox.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/static/js/jQuery.print.js"></script>
        <script type="text/javascript" src="/static/js/additional_organs.js"></script>
        <script type="text/javascript" src="/static/js/mpc.js"></script>
        <script src="/static/js/trip.min.js"></script>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" href="/static/css/flat-ui.min.css" media="all">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="/static/css/lightbox.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/static/css/trip.min.css" />


        {% block header %}
        {% endblock %}
        <!--<link rel="stylesheet" href="/static/css/main.css" media="all">-->
	</head>

	<body>
        {% include "util/menu.html" %}

        <div class="wrapper">
		    {% block content %}
		    {% endblock %}
        </div>

	</body>

</html>
